* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f6f8;
    color: #333;
    line-height: 1.6;
}


header {
    background: #0f172a;
    color: #fff;
    text-align: center;
    padding: 40px 20px;
}

.profile-img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 4px solid #38bdf8;
    margin-bottom: 15px;
}


nav {
    background: #1e293b;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px 20px;
    font-weight: bold;
}

nav a:hover {
    background: #38bdf8;
    color: #000;
}

/* Sections */
.section {
    padding: 40px 20px;
    max-width: 1100px;
    margin: auto;
}

.section h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #0f172a;
}

.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    gap: 20px;
}


.card {
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

#contact p {
    text-align: center;
    font-size: 18px;
}
footer {
    background: #0f172a;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
}

@media (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }

    nav a {
        padding: 10px;
    }
}
